
#  Function Task INeuron (5 jun 2022) 
                                    - Shivam Rai

In [2]:
import sys

Q1 Prime Number in between 1 to 1000

In [3]:
def prime_number():
    for num in range(2,1001):
        if num > 1:
            for i in range(2,num):
                if num % i == 0:
                    break
            else:
                print(num)

In [4]:
prime_number()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

Q2 Function equvialent to print function in python

In [5]:
def print1(*args):
    for i in args:
        sys.stdout.write(str(i))

In [6]:
a = {"hello":"world"}

In [7]:
print1(a)

{'hello': 'world'}

Q3 Replica of list append,extend,pop function

In [78]:
# creating append function 

def self_append(user_list,args):
    
    if type(user_list) == list:
        
        last_index = len(user_list)
        new_list = [None] * (last_index+1)
        for i in range(0,last_index):
            new_list[i] = user_list[i]
        new_list[last_index] = args
        
        return new_list
    
    else:
        print("Error the list is to append is not a list type!")

In [9]:
l = ["hello","world"]
l = self_append(l,["hello","another","list"])

In [10]:
print1(l)

['hello', 'world', ['hello', 'another', 'list']]

In [184]:
# creating extend function 

def self_extend(user_list,args):
    if isinstance(user_list,type(list)):
        if isinstance(args,str) or isinstance(args,type(list)) or isinstance(args,tuple) or isinstance(args,dict) or isinstance(args,set) :
            for i in args:
                user_list.append(i)
            return user_list
        else:
            print("argument passed is not iterable!")
    else:
        print("The list is passed is not list type!")

In [191]:
l = []
l = self_extend(l,"hello")

In [192]:
l

['h', 'e', 'l', 'l', 'o']

In [308]:
# creating pop function 

def self_pop(user_list,index="none"):
    
    if type(user_list) == list:
        
        if len(user_list) == 0:
            
            print("Cannot Perform Pop operation List is empty!")
            
        elif len(user_list) == 1:
            new_list = []
            return new_list 
        
        else:
            
            if index == "none":
                last_index_value = (len(user_list)-1)
                
            elif index < 0:
                
                negative_max_index = -abs(len(user_list))
                if index < negative_max_index:
                    print("Error Index Out of range!")
                    return
                
                else:
                    last_index_value = index
                
            else:
                if index > (len(user_list)-1):
                    print("Error Index Out of range!")
                    return
                
                else:
                    last_index_value = index
                
            new_list = []
            
            if last_index_value >=0:
                for i in range(0,len(user_list)):
                    if i == last_index_value :
                        pass
                    else:
                        new_list.append(user_list[i])
                return new_list
            
            else:
                ranges = (-abs(len(user_list))-1)
                for i in range(-1,ranges,-1):
                    if i == last_index_value:
                        pass
                    else:
                        new_list.append(user_list[i])
                new_list.reverse()
                return new_list
            
        
        
    else:
        print("List Error the given argument is not a list type!")

In [283]:
l = ['hello',"world","how"]

In [284]:
l = self_pop(l,1)

In [285]:
l

['hello', 'how']

In [286]:
l = self_pop(l,-2)

In [287]:
l

['how']

Q4 lamda function to concat all the string passed

In [303]:
string_conc = lambda *args : ''.join(args)

In [304]:
string_conc("hello","world","shivam")

'helloworldshivam'

Q5 lamda function to square of 1 to 100 numbers

In [305]:
square = lambda a=1,b=100:[i*i for i in range(a,b)]

In [306]:
square()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

Q6 10 Different examples of lambda function

In [77]:
#1
adder = lambda x, y : x + y
print ("Addition of two number is = ",adder(1, 2))

#2
sub = lambda x,y : x - y
print("Difference of two number is = ",sub(2,1))

#3
mul = lambda x,y : x * y
print("Multiplication of two number is = ",mul(2,5))

#4
div = lambda x,y : x / y
print("Division of two number is = ",div(10,2))

#5
modulo = lambda x,y : x % y
print("Reminder of two number is = ",modulo(10,5))

#6
lambda_cube = lambda y: y*y*y
print("Cube is =",lambda_cube(3))

#7
x ="Hello world"
y = lambda x : print(x) 
y(x)

#8
print("Table of 10 :")
tables = [lambda x=x: x*10 for x in range(1, 11)]
for table in tables:
    print(table())

#9    
Max = lambda a, b : a if(a > b) else b
print("Maximum Number is = ",Max(1, 2))

#10
Min = lambda a,b : a if(a < b) else b
print("Minimum Number is =",Min(1,2))

Addition of two number is =  3
Difference of two number is =  1
Multiplication of two number is =  10
Division of two number is =  5.0
Reminder of two number is =  0
Cube is = 27
Hello world
Table of 10 :
10
20
30
40
50
60
70
80
90
100
Maximum Number is =  2
Minimum Number is = 1

Q7 Creating function to read file

In [70]:
import os
def read_file(file_name_or_location):
    file_extension = ""
    
    if type(file_name_or_location) == str:
        split_tup = os.path.splitext(file_name_or_location)
        file_extension = split_tup[1]
        
        
        if file_extension ==".txt":
            try:
                f = open(file_name_or_location, "r")
                return f.read()
            
            except IOError:
                return "Error: can\'t find file or read data"
                
        else:
            return "Please pass .txt file as an input"
    else:
        return "Pass File name or location in string"

In [76]:
print(read_file("C:/Users/raish/OneDrive/Desktop/demo.txt"))

hello